.icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #2c3e50;
  font-size: 28px;
  line-height: 1;
}

* {
  box-sizing: border-box;
}
#video-controls-container {
  justify-content: flex-start;
}
.c-fff {
  color: #fff;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.w-b {
  font-weight: bold;
}
.m-0 {
  margin: 0;
}
.mt-10 {
  margin-top: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.p-10 {
  padding: 10px;
}
